.ui-mobile fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
}

section {
	margin-bottom: 30px;
}

nav ul {
	margin: 5px;
	padding: 0px;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	display: block;
	background: #eee;
	padding: 10px 20px;
	margin: 2px;
	text-decoration: none;
}

/* Aplicado para telas maiores do que 600px*/
@media screen and (min-width:600px) {
	body {
		background: green;
	}
	
	aside {
		width: 30%;
		position: fixed;
		right: 0px;
	}
	
	#content {
		float: left;
		width: 70%;
	}
}